<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        The most popular education website templates for schools, colleges, universities, online courses, kindergartens and anything in-between. These templates pack a modern design and a clean code making them user and mobile-friendly. Push your learning system to the online world and grab the attention of many new students. The templates also include a handy blog section that you can use to give back to the community or even as a standalone education blog.
    </p>
    
    <div class="follow text-center">
        <i class="fab fa-facebook"></i>  <a href="">Facebook</a>
        <i class="fab fa-youtube"></i> <a href="">Youtube</a>
        <i class="fab fa-instagram"></i><a href="">Instagram</a>
        <i class="fab fa-twitter"></i><a href="">Twitter</a>
    </div>

</section>
