.follow a {
    padding: 10px;
    color: #000000;
    font-weight: bold;
}
p{

    text-align: center;
}
@media screen and (max-width:600px) {
    .follow a 
    {
        padding: 10px;
    }
    
}